{% extends 'admin/layout.html.twig' %}
{% block body %}
{{ form_start(form) }}
{% embed 'decorator/_card.html.twig' %}
    {% block header %} 
        {{ 'article.edit'|trans( { '%entity%' : entity.title })|raw }}
    {% endblock %}

    {% block body %}
        {% include('admin/article/_form.html.twig') %}
    {% endblock %}

    {% block footer %}  
        <button type="submit" class="btn btn-warning">{{ 'edit'|trans }}</button>
        <a class="btn btn-dark" href="{{ path('app_admin_article_index') }}" role="button">{{ 'cancel'|trans }}</a>
    {% endblock %}
 {% endembed %}
{{ form_end(form) }}
{% endblock %}