{% extends 'admin/layout.html.twig' %}

{% block body %}

    {% set countByPage = 0 %}
    {% embed 'decorator/_card.html.twig' %}

        {% block header %}
            {{ 'article.list'|trans|parse_icons }}
        {% endblock %}

        {% block body %}
            <a class="btn btn-success float-right" href="{{ path('app_admin_article_new') }}" role="button"><i class="fas fa-plus"></i> {{ 'add'|trans }}</a>
        {% endblock %}

        {% block table %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Titre</th>
                        <th>{{ 'category.categories'|trans }}</th>
                        <th>{{ 'article.user'|trans }}</th>
                        <th>Date ajout</th>
                        <th>Date modif.</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                
                    {% for entity in entities %}

                    {% set countByPage = countByPage +1 %}
                        <tr>
                            <td>{{ entity.title }}</td>
                            <td> 
                                {% for category in entity.getCategories() %}
                                    <span class="badge badge-secondary mr-1">{{ category }} </span>
                                {% endfor %}
                            </td>
                            <td>{{ entity.user }}</td>
                            <td>{{ entity.dateCreate|date('d/m/Y H:i') }}</td>
                            <td>{{ entity.dateUpdate|date('d/m/y H:i') }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-warning" href="{{ path('app_admin_article_edit', {'id': entity.id}) }}" role="button"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger" href="{{ path('app_admin_article_delete', {'id': entity.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %} {# block table #}

        {% block footer %}
            <div class="float-left">{{ entities.iterator|length }}/{{ entities|length }} {{ 'article.count'|transchoice(entities|length) }}</div>

            <div class="float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_admin_article_index') }}"><i class="fas fa-angle-double-left"></i></a>
                        </li>

                        {% for p in 1..nbPages %}
                            <li class="page-item {% if p == page %} {{ 'active' }} {% endif %}"><a class="page-link" href="{{ path('app_admin_article_index', {'page': p}) }}">{{ p }}</a></li>
                        {% endfor %}

                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_admin_article_index', {'page': nbPages}) }}"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>

        {% endblock %}

    {% endembed %} {# embed 'decorator/_card.html.twig' #}
{% endblock %}{# block body #}