{% extends 'admin/layout.html.twig' %}

{% block body %}

    {% set countByPage = 0 %}
    {% embed 'decorator/_card.html.twig' %}
        
        {% block header %}
            {{ 'category.list'|trans }}
        {% endblock %}
        
        {% block body %}
            <a class="btn btn-success float-right" href="{{ path('app_admin_category_new') }}" role="button"><i class="fas fa-plus"></i> {{ 'add'|trans }}</a>
        {% endblock %}
        
        {% block table %}
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>{{ 'category.name'|trans }}</th>
                        <th>{{ 'article.count_label'|trans }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    {% set countByPage = countByPage +1 %}
                        <tr>
                            <td>{{ entity.name }}</td>
                            <td>{{ entity.articles|length }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-warning" href="{{ path('app_admin_category_edit', {'id': entity.id}) }}" role="button"><i class="fa fa-edit"></i></a>
                                    <a class="btn btn-danger" href="{{ path('app_admin_category_delete', {'id': entity.id}) }}" role="button"><i class="fas fa-trash-alt"></i></a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endblock %} {# block table #}

        {% block footer %}
            <div class="float-left">{{ entities.iterator|length }}/{{ entities|length }} {{ 'category.count'|transchoice(entities|length) }}</div>

            <div class="float-right">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_admin_category_index') }}"><i class="fas fa-angle-double-left"></i></a>
                        </li>

                        {% for p in 1..nbPages %} 
                            <li class="page-item {% if p == page %} {{ 'active' }} {% endif %}"><a class="page-link" href="{{ path('app_admin_category_index', {'page': p}) }}">{{ p }}</a></li>  
                        {% endfor %}
                        
                        <li class="page-item">
                            <a class="page-link" href="{{ path('app_admin_category_index', {'page': nbPages}) }}"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
            
        {% endblock %}

    {% endembed %} {# embed 'decorator/_card.html.twig' #}
{% endblock %}{# block body #}

